.lmj-bandeau{
    background-color: #90e0ef;
}
.lmj-banderau-text{
    padding: 10px;
    margin: 0;
    text-align: center;
}
.event{
    padding: 10px 10px 0 10px;
}
.event-slogan{
    text-align: center;
    margin: 0;
}
.event-link{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #31b572;
    font-weight: 600;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.event-link:hover{
    transform: scale(1.2);
}
.lmj-bestSells{
    padding: 32px;
}
.lmj-topPlants{
    display: flex;
}