.lmj-nav{
    width: 40%;
    align-self: flex-end;
    padding-right:5%;
}
.lmj-list{
    display: flex;
    justify-content: flex-end;
}
.lmj-link{
    margin-left: 5%;
    text-decoration: none;
    color: black;
}
.lmj-list-item{
    list-style: none;
}
.user {
    color: #31b572;
  }
.lmj-list-item:hover{
    transform: scale(1.3);
    color: #31b572;
    font-weight: 400;
    cursor: pointer;

}
.cart-icon:hover{
    animation: ShiningWave 0.5s ease-in forwards;
}  

/*Faire évoluer le dégrader de la gaucher vers la droite */
@keyframes ShiningWave {
    from{
        color: black
    }
    25%{

        color: #01baef;

    }
    50%{
        
       color:  #01baef;
       ;
    }
    to{
        
        color: #31b572;
    }
};
